@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
/*font-family: 'Londrina Solid', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/*font-family: 'Quicksand', sans-serif;*/

:root {
    --cor1: #8ea6bd;
    --cor2: #75808A;    
    --cor3: #85BCF0;
    --cor4: #384857;
    --cor5: #1D2F40;
    --cor6: #ffffff;
    --cor7: #f5f5f5;
    --cor8: #000000;
}

* {
    margin: auto;
    text-align: justify;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: #f5f5f5;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    min-width: 320px;
    max-width: 2560px;
    text-align: center;
    
}

nav h1 {
    display: inline-block;
    font-weight: lighter;
}

nav p {
    display: inline-block;
    margin: auto;
    padding-right: 15px;

}

nav a {
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-decoration: none;
    padding-right: 1px;

}

nav a:hover {
    color: var(--cor3);
}

main {    
    background-image: linear-gradient(to top, var(--cor7), var(--cor6));
    margin: auto;
    text-align: justify;
    padding: 0px 20px;
    min-width: 280px;
    max-width: 900px;
    padding-bottom: 200px;
}

main p {
    padding: 50px 0px 0px 0px;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1.2em;
}

footer {    
    background-color: var(--cor3);
    min-height: 400px;
    min-width: 320px;
    max-width: 2560px;    
}

