@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
/*font-family: 'Londrina Solid', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/*font-family: 'Quicksand', sans-serif;*/

:root {
    --cor1: #8ea6bd;
    --cor2: #75808A;
    --cor3: #85BCF0;
    --cor4: #384857;
    --cor5: #1D2F40;
    --cor6: #ffffff;
    --cor7: #f5f5f5;
    --cor8: #000000;
}

* {
    margin: auto;
    text-align: justify;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    min-width: 280px;
    max-width: 2560px;
    text-align: center;
}

nav h1 {
    display: inline-block;
    font-weight: lighter;
}

nav p {
    display: inline-block;
    margin: auto;
    padding-right: 15px;

}

nav a {
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-decoration: none;
    padding-right: 1px;

}

nav a:hover {
    color: var(--cor3);
}

header {
    background-image: url('imagens/Header/papel04.jpg');
    background-color: var(--cor5);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 280px;    
    margin: auto;
    text-align: center;
    padding: 10px;
    min-width: 280px;
    max-width: 2560px;
    box-shadow: 0px 8px 20px var(--cor4);
}

#foto-perfil {
    border-width: 2.5px;
    border-style: solid;
    border-color: #85BCF0;
    border-radius: 100%;
    width: 130px;
    height: 130px;
}

header p {
    display: inline-block;
    padding: 5px;
    color: white;
    text-decoration: none;
}

header h1 {
    font-family: 'Londrina Solid', sans-serif;
    letter-spacing: 2.5px;
    text-shadow: 0px 0px 20px var(--cor5);
    color: #85BCF0;
    text-align: center;
    font-weight: none;

}

header h2 {
    background-color: #1d2f407a;
    margin: auto;
    width: 250px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 40px 40px 0px;
    text-shadow: 0px 0px 20px var(--cor6);
    text-align: center;
    color: white;
    font-size: 12px;
    margin-bottom: 40px;
}

header img {
    background-image: url('imagens/Header/azul.jpg');
    border-radius: 10px;
}

/*Zoom nos Botões*/
.imagem:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 20px white;
}

/*Botões grandes*/
.logo {
    border-width: 3px;
    border-color: #85BCF0;
    width: 50px;
    height: 50px;
    display: inline;
    margin-left: 20px;
    margin: auto;
    margin: 0px 3px;
    padding: 0px 0px 0px 0px;
}

main {
    background-color: white;
    margin: auto;
    margin-bottom: 150px;
    margin-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 300px;
    max-width: 700px;
    min-height: 280px;
    max-height: 2560px;
    padding: 10px;
}

main h1 {
    font-family: 'Londrina Solid', sans-serif;
    text-align: left;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 3px;
}

main h2 {
    font-family: 'Londrina Solid', sans-serif;
    font-weight: 300;
    margin-top: 30px;
    padding-bottom: 30px;
}

main p {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    text-indent: 2em;
    line-height: 1.5;
    font-size: 20px;        
}

main > p > strong > a {
    text-decoration: none;
    color: black;
}

main ul {
    line-height: 30px;
    column-count: 2;
    margin: 20px;
    padding: 10px;
    background-color: var(--cor5);
    color: var(--cor3);
    list-style: circle;
    width: 300px;
    margin: auto;
    border-radius: 5px;
    border: 2px groove var(--cor5);
    box-shadow: 0px 0px 15px var(--cor1);
    list-style: none;
}

main li {
    text-align: center;
}

main li:hover {
    text-align: center;
    background-color: var(--cor3);
    border-radius: 3px;
    transition: 0.5s;
}

main img {    
    margin: auto;
    text-align: center;
    display: block;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
}

main li a {
    color: var(--cor6);
}

main li a:hover {
    color: var(--cor5);
}

main > a > p {
    color: var(--cor3);
    background-color: var(--cor8);
    max-width: 250px;    
    margin: auto;
    border-radius: 3px;
}

main > a > p:hover {
    background-color: var(--cor7);
    color: var(--cor4);
}

aside {
    text-align: center;
    min-width: 280px;
    max-width: 2560px;

}

aside p {
    display: inline-block;
}

aside a {
    font-size: 10px;
    color: var(--cor2);
    text-decoration: none;

}

/*OBS: Os FOOTERS estão na ordem decrescente*/
.footer-02 {
    text-align: center;
    margin: auto;
}

.espaçamento {
    margin-bottom: 80px;
}

div > span {
    color: var(--cor3);
}


.footer-01 {
    background-image: linear-gradient(to right, var(--cor5), var(--cor2), var(--cor2), var(--cor4), var(--cor5));
    font-size: small;
    color: var(--cor1);
    text-align: center;
    min-width: 280px;
    max-width: 2560px;
    padding-top: 3px;
    padding-right: 46.5px;

    

}

.footer-01 img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 35px;
    height: 35px;
}

footer {
    background-image: url('imagens/Footer/papel02.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-width: 280px;
    max-width: 2560px;    
    margin: auto;
    padding: 20px;
}

footer h1 {
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}

footer p {
    text-align: center;
    color: white;
    padding-top: 20px;

}

span {
    color: var(--cor3);
}

.logos {
    border-width: 3px;
    border-color: #85BCF0;
    border-radius: 100%;
    width: 27px;
    height: 27px;
    display: inline;
    margin-left: 20px;
    margin: 0px 5px;
}

#paper {
    padding: 10px 20px;
    margin: auto;
    margin-top: 30px;
    background-color: var(--cor5);
    color: var(--cor5);
    width: 190px;
    border-style: groove;
}

#paper h1 {
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    color: var(--cor3);
    font-size: 14px;
    text-align: left;

}

#paper p {
    margin: 0px;
    padding: 5px;
    width: 180px;
    color: var(--cor6);
    font-size: 13px;
    text-align: justify;
    text-indent: 20px;
    border: 1px solid var(--cor5);
    margin: 3px;
}

#paper a {
    margin: 0px;
    padding: 5px 3px 0px 0px;
    width: 180px;
    color: var(--cor6);
}

#paper p:hover {
    background-color: var(--cor3);
    border-radius: 3px;
    transition: 0.5s;

}

#tamanho {
    font-size: 12px;
    color: var(--cor6);
}

.tamanhoContatos {
    max-height: 1630px;
}

.footerPortifolio {
    font-size: 1vw;     
    padding-top: 5px;
    margin: 0px;
}

.footerPortifolio > p {    
    font-size: 1.1vw;
    margin: auto;
}